@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather Sans", sans-serif;
}

/* Banner container style */

.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0, .5);
    background-blend-mode: overlay;
    background-image: url('/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    align-items: center;
    color: white;

}


.banner-content h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.banner-content p{
font-size: 24px;
font-weight: 200;
line-height: 40px;

}
/* second section style */

.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}

.second-section-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin: 20px auto;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 65px;
}

.image-container{
    width: 802.9px;
    height: 500px;
}
.image-container img{
    width: 802.9px;
    height: 500px; 
}


/* midnight section style */

.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 30px auto;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 0, 0, .5);
    background-blend-mode: overlay;
    display: flex;
    margin-top: 120px;
}

.leftside-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 120px 100px;
}

.leftside-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 24px;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Merriweather Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

.midnight-button{
    color: rgb(255, 255, 255);
    font-family: Merriweather Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}



.rightside-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 68px;
}
/* time and date section style */

.timedate-section-container{
    width: 1320px;
    height: 482px;
    margin: 126px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.timedate-text{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: #070211;
}
.timedate-text label{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: #FF0000;
}

/* Offer Coming soon Section Style */

.offer-comingsoon-container{
    max-width: 1320px;
    height: 463px;
    margin: 126px auto 0 auto;
    display: flex;
    font-family: Merriweather Sans;
}
.offer-comingsoon-content{
    max-width: 33.3%;
    text-align: center;
    margin: 60px auto;
    text-align: justify;
    
}

.offer-comingsoon-content h5{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

.offer-comingsoon-content h3{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}
.circle-container{
    width: 100%;
    height: 380px;
    border: 10px #FF0000 solid;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offer-comingsoon-content h2{
    font-family: 48px;
    font-weight: 700;
    color: #FF0000;
}

.offer-comingsoon-content .newyear-content{
    padding-left: 30px;
    text-align: left;
    margin-top: 40px;
}

.offer-comingsoon-content .newyear-content h2{
    color: rgb(255, 0, 0);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 700;
}

.offer-comingsoon-content  p{
    font-family: Merriweather sans, sans-serif;
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0 30px 0;

}

.offer-comingsoon-content .newyear-content img{
    width: 102.4px;
    height: 132.79px;
    left: 3.53%;
    right: 23.33%;
    top: 2.71%;
    
}

.holiday-sale-section{
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    text-align: center;
 
}
.holiday-sale-container{
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin: 0 150px;
    
}
.holiday-sale-content{
    text-align: center;
}
.holiday-sale-content h6{
    font-family: Merriweather sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    margin-top: 20px;
}
.holiday-sale-content h4{
    font-family: Merriweather sans, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #070211;
    padding-top: 16px;
    padding-bottom: 24px;
}
.highlight{
    color: #FF0000;
}



