@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather Sans", sans-serif;
}

/* Banner container style */

.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0, .5);
    background-blend-mode: overlay;
    background-image: url('/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    align-items: center;
    color: white;

}


.banner-content h1{
    font-size: 50px;
    font-weight: 600;
}
.banner-content p{
font-size: 24px;
font-weight: 200;
line-height: 40px;

}
/* second section style */

.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}

.second-section-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin: 20px auto;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 65px;
}

.image-contaimer{
    width: 802.9px;
    height: 500px;
}
.image-contaimer img{
    width: 802.9px;
    height: 500px; 
}